*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: #fff;
    border-radius: 8px;
}

#enterCity{
    border-radius: 8px;
    padding: 3px;
    text-align: center;
}

ul{
    background-color: #0d6efd!important;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button{
    text-decoration: none;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 14px;
    padding: 3px;
    font-weight: bold;
    margin-top: 5px;
}
li{
    border-radius: 8px;
    background-color: #0d6efd!important;
    cursor: pointer;
    margin: 10px;
    padding: 3px;
}

li:hover{
    color: black;
}

.leftSide{
    max-width: 15%;
    margin: 20px;
}

.uvIndex{
    padding: 5px;
    width: 120px;
    margin-bottom: 25px;
}

.fivedayforecast{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-bottom: 25px;
}

.days{
    display: flex;
    justify-content: flex-end;
    max-width: 230px;
}

img{
    width: 80px;
    height: 80px;
}

.rightSide{
    display: none;
    padding: 15px;
}

.btn{
    left: 0;
}

.main{
    margin-top: 10px;
}

span{
    margin: 0px 35px 20px 20px;
}

nav{
    margin-top: 15px;
}