*, *::before, *::after{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: #fff;
}

#enterCity{
    border-radius: 8px;
    padding: 3px;
}

li{
    border-radius: 8px;
}

.leftSide{
    max-width: 15%;
    margin: 20px;
}
